In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

In [2]:
data=pd.read_excel("merc.xlsx")

In [3]:
data

       year  price transmission  mileage  tax   mpg  engineSize
0      2005   5200    Automatic    63000  325  32.1         1.8
1      2017  34948    Automatic    27000   20  61.4         2.1
2      2016  49948    Automatic     6200  555  28.0         5.5
3      2016  61948    Automatic    16000  325  30.4         4.0
4      2016  73948    Automatic     4000  325  30.1         4.0
...     ...    ...          ...      ...  ...   ...         ...
13114  2020  35999    Automatic      500  145  55.4         2.0
13115  2020  24699    Automatic     2500  145  55.4         2.0
13116  2019  30999    Automatic    11612  145  41.5         2.1
13117  2019  37990    Automatic     2426  145  45.6         2.0
13118  2019  54999    Automatic     2075  145  52.3         2.9

[13119 rows x 7 columns]

In [4]:
x=data[["year","mileage","tax","mpg","engineSize"]].values
y=data[["price"]].values

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [6]:
from sklearn.ensemble import RandomForestRegressor
rassal=RandomForestRegressor(n_estimators=14,random_state=0)
rassal.fit(x_train,y_train)
deneme=rassal.predict(x_test)
mean_absolute_error(y_test,deneme)

C:\Users\sefa\AppData\Local\Temp\ipykernel_3956\3348124387.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rassal.fit(x_train,y_train)

2138.998850177522

In [8]:
from joblib import dump, load

In [7]:
s = pickle.dumps(rassal)
clf2 = pickle.loads(s)
dump(clf, 'filename.joblib') 
dosya="model.plk"
pickle.dump(rassal,open(dosya,"wb"))

In [9]:
s = pickle.dumps(rassal)
clf2 = pickle.loads(s)
dump(clf2, 'model.joblib')

['model.joblib']